# Auto detect text files and perform LF normalization
* text=auto
Atmos[[:space:]]Weather.exe filter=lfs diff=lfs merge=lfs -text
Atmos[[:space:]]Weather[[:space:]]0.5.0[[:space:]]Setup.exe filter=lfs diff=lfs merge=lfs -text
Atmos[[:space:]]Weather[[:space:]]Setup[[:space:]]0.5.0.exe filter=lfs diff=lfs merge=lfs -text
