<?xml version='1.0' encoding='utf-8'?>
<widget id="io.atticusc.atmosweather" version="0.5.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Atmos Weather</name>
    <description>A lightweight weather app for alerts and forecasts.</description>
    <author email="none" href="https://cordova.apache.org">
        Atticus Cornett
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
	<platform name="android">
		<resource-file src="res/values/colors.xml" target="/app/src/main/res/values/colors.xml" />
        <icon background="@color/background" density="xxxhdpi" foreground="res/icon/android/xxxhdpi-foreground.png" />
    </platform>
	<platform name="electron">
    	<icon src="res/icon/electron/app.png" target="app" />
    	<icon src="res/icon/electron/installer.png" target="installer" />
	</platform>

</widget>
