/* Animation Keyframes */

/* Logo Animations */

body {
	--startColor: white;
	--backgroundStart: black;
	--backgroundEnd: hsla(0,0%,99%,1.00);
}

body.dark {
	--startColor: black;
	--backgroundStart: hsla(0,0%,99%,1.00);
	--backgroundEnd: black;
}

@keyframes logoAnim{
	0%{
		font-size: 10000px;
		padding-left: 100px;
		padding-right: 100px;
		color: var(--startColor);
	}
	49%{
		font-size: 30px;
		padding-left: 100px;
		padding-right: 100px;
		color: var(--startColor);
	}
	50%{
		color: var(--startColor);
	}
	100%{
		padding-left: 10px;
		padding-right: 10px;
		color: dodgerblue;
	}
}

@keyframes logoBackgroundAnim{
	0% {
		background-color: var(--backgroundStart);
	}
	100%{
		background-color: var(--backgroundEnd);
	}
}

@keyframes watchAnim{
	0%{
		background-color: darkgoldenrod;
	}
	50%{
		background-color: goldenrod;
	}
	100%{
		background-color: darkgoldenrod;
	}
}

@keyframes warningAnim{
	0%{
		background-color: darkred;
	}
	50%{
		background-color: red;
	}
	100%{
		background-color: darkred;
	}
}

@keyframes otherAnim{
	0%{
		background-color: grey;
	}
	50%{
		background-color: slategray;
	}
	100%{
		background-color: grey;
	}
}

@keyframes delayedFadeIn{
	0%{
		opacity: 0;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 1.0;
	}
}

/* General Animations */

@keyframes fadeOut {
	0%{
		opacity: 1.0;
		background-color: hsla(0,0%,99%,1.00);
	}
	100%{
		opacity: 0.0;
		display: none;
		pointer-events: none;
		background-color: hsla(0,0%,99%,1.00);
	}
}

@keyframes offLeft{
	0%{
		right: 0%;
	}
	100%{
		right: 300%;
	}
}

@keyframes onRight{
	0%{
		left: 300%;
	}
	100%{
		left: 0%;
	}
}

@keyframes loadAnim{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}

@keyframes simpleFadeOut{
	0%{
		opacity: 1.0;
	}
	100%{
		opacity: 0;
	}
}
@keyframes simpleFadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1.0;
	}
}
