/* Animation Keyframes */

/* Logo Animations */

/*body {*/
/*	--startColor: white;*/
/*	--backgroundStart: black;*/
/*	--backgroundEnd: hsla(0,0%,99%,1.00);*/
/*}*/

/*body.dark {*/
/*	--startColor: black;*/
/*	--backgroundStart: hsla(0,0%,99%,1.00);*/
/*	--backgroundEnd: black;*/
/*}*/



@keyframes logo-background-anim {
	0% {
		background: linear-gradient(var(--background-angle), var(--background-end), var(--background-start));
	}
	100%{
		background: linear-gradient(var(--background-angle), var(--background-start), var(--background-end));
	}
}

@keyframes watch-anim {
	0%{
		background-color: var(--watch-background);
	}
	50%{
		background-color: var(--watch-background-secondary);
	}
	100%{
		background-color: var(--watch-background);
	}
}

@keyframes warning-anim {
	0%{
		background-color: var(--warning-background);
	}
	50%{
		background-color: var(--warning-background-secondary);
	}
	100%{
		background-color: var(--warning-background);
	}
}

@keyframes other-anim {
	0%{
		background-color: var(--statement-background);
	}
	50%{
		background-color: var(--statement-background-secondary);
	}
	100%{
		background-color: var(--statement-background);
	}
}

@keyframes delayed-fade-in {
	0%{
		opacity: 0;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 1.0;
	}
}

/* General Animations */

@keyframes fade-out {
	0%{
		opacity: 1.0;
		background-color: hsla(0,0%,99%,1.00);
	}
	100%{
		opacity: 0.0;
		display: none;
		pointer-events: none;
		background-color: hsla(0,0%,99%,1.00);
	}
}

@keyframes off-left {
	0%{
		right: 0;
	}
	100%{
		right: 300%;
	}
}

@keyframes on-right{
	0%{
		left: 300%;
	}
	100%{
		left: 0;
	}
}

@keyframes simple-fade-out{
	0%{
		opacity: 1.0;
	}
	100%{
		opacity: 0;
	}
}
@keyframes simple-fade-in{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1.0;
	}
}