/* User Interface Components
DONE:

NEEDS WORK:

NOTHING YET:
*/

/* Tag Styles */

body{
	background-color: hsla(0,0%,99%,1.00);
}

h1{
	font-family: Secular One;
}

h2, h3, h4, h5, h6{
	font-family: Lexend Deca;
}

details{
	font-family: Secular One;
	font-size: 20px;
	border: black solid;
	padding: 10px;
	border-radius: 7px;
	margin-bottom: 15px;
	box-shadow: 0px 0px 7px #898989;
}

details[open] summary{
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: black solid;
}

summary{
	cursor: pointer;
	font-size: 25px;
}

a{
	color: dodgerblue;
}

label{
	font-family: Lexend Deca;
	font-size: 25px;
}

select{
	font-family: Lexend Deca;
	font-size: 23px;
	margin-bottom: 8px;
}

/* UI Component Styles */

#notice-window-container{
	z-index: 99;
	position: absolute;
	background-color: white;
	width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
}

#welcome-window-native{
	z-index: 99;
	position: absolute;
	background-color: black;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	color: white;
}

#app{
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#main-app{
	height: 92%;
	width: 100%;
	padding: 0;
	overflow-x: hidden;
}

#app-nav{
	height: 8%;
	width: 100%;
	background-color: white;
	cursor: pointer;
}

#add-location{
	position: fixed;
	z-index: 99;
	bottom: 10%;
	padding-left: 15px;
	padding-right: 15px;
	border: none;
	background-color: rgba(34,55,91,0.88);
	color: white;
	font-family: Secular One;
	font-size: 25px;
	border-radius: 7px;
	cursor: pointer;
	box-shadow: 0px 0px 7px #898989;
}

#welcome-button-native{
	border: none;
	background-color: dodgerblue;
	color: white;
	font-family: Secular One;
	font-size: 25px;
	border-radius: 7px;
	cursor: pointer;
}

#location-search{
	font-size: 30px;
	width: 50%;
}

#fade-section{
	margin-left: 20px;
	margin-right: 20px;
}


#welcome-image-native{
	max-height: 50vh;
	max-width: 100vh;
}

#radar-animation-control{
	background-color: dodgerblue;
	color: white;
	font-size: 20px;
	border-radius: 7px;
	cursor: pointer;
	border: none;
	font-family: Secular One;
}

#current-loc-aqi-bar{
	position: relative;
}

/* Class Styles */

.tab-div{
	height: 92%;
	border: none;
	position: relative;
	margin-left: 20px;
	margin-right: 20px;
}

.nav-icon{
	height: 4vh;
	margin-top: 2vh;
	cursor: pointer;
}

.location{
	background-color: blue;
	color: white;
	border-radius: 7px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 20px;
	-webkit-box-sizing: border-box;
	-mox-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	box-shadow: 0px 0px 7px #898989;
}

.noalerts{
	background-color: dodgerblue;
}

.error{
	background-color: darkslategray;
}

.watch{
	background-color: darkgoldenrod;
	animation-name: watchAnim;
	animation-iteration-count: infinite;
	animation-duration: 5s;
}

.warning{
	background-color: darkred;
	animation-name: warningAnim;
	animation-iteration-count: infinite;
	animation-duration: 2s;
}

.other{
	background-color: gray;
	animation-name: otherAnim;
	animation-iteration-count: infinite;
	animation-duration: 5s;
}

.currentloc{
	background-color: cadetblue;
}

.noclick{
	cursor: default;
}

.forecast-temp{
	box-shadow: 0px 0px 7px #898989;
	background-color:dodgerblue;
	color:white;
	display:inline-block;
	padding:20px;
	margin-right:20px;
	margin-bottom:20px;
	border-radius:7px;
}

.searchResult{
	display: flex;
	align-items: center;
	background-color: dodgerblue;
	color: white;
	border: none;
	border-radius: 7px;
	padding: 20px 0;
	cursor: pointer;
}

.box{
	height: 22px;
}

.gauge-container{
	height: 22px;
	position: relative;
}

.gauge-background {
	position: absolute;
	background: linear-gradient(90deg, rgb(16, 167, 74) 0%, rgb(244, 248, 9) 20%, rgb(255, 145, 0) 40%, rgb(253, 1, 1) 60%, rgb(146, 13, 158) 80%, rgb(97, 12, 19) 100%);
	height: 22px;
	width: 100%;
	border-radius: 5px;
}

.gauge-marker{
	background-color: white;
	position: relative;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	top: 3.5px;
	left: 3.5px;
}

.clear-border{
	border: black solid;
	border-radius: 7px;
	box-shadow: 0px 0px 7px #898989;
	padding: 0px 20px 20px 20px;
}

.selected-nav{
	background-color: #EEEEEE;
	border-radius: 7px;
}


@media screen and (orientation:portrait) {
	/* Fix issues on certain orientations */
	.forecast-temp{
		display: inline-grid;
	}

	.hourly-container{
		display: grid;
		grid-template-columns: auto auto auto;
	}

	/* Make settings less cramped on mobile */

	label{
		font-size: 18px;
	}

	select{
		font-size: 18px;
	}
	
	.box{
		height: 15px;
	}
}

/* Dark Mode Colors */
@media (prefers-color-scheme: dark){
	body{
		background-color: #222222;
		color: white;
	}
	details{
		border: white solid;
		border-radius: 7px;
		box-shadow: 0px 0px 7px #898989;
	}
	details[open] summary{
		border-bottom: white solid;
	}
	#notice-window-container{
		z-index: 99;
		position: absolute;
		background-color: #222222;
		width: 100%;
		min-height: 100%;
		top: 0;
		left: 0;
	}
	#welcome-window-native{
		z-index: 100;
		position: absolute;
		background-color: #222222;
		min-width: 100%;
		min-height: 100%;
		top: 0;
		left: 0;
	}
	#app-nav{
		background-color: hsla(0,0%,15%,1.00);
	}
	.clear-border{
		border: white solid;
		border-radius: 7px;
		box-shadow: 0px 0px 7px #898989;
		padding: 0px 20px 20px 20px;
	}
	.selected-nav{
		background-color: #111111;
		border-radius: 7px;
	}
}
