/* Animation Keyframes */

/* Logo Animations */

body {
	--startColor: white;
	--backgroundStart: black;
	--backgroundEnd: hsla(0,0%,99%,1.00);
}

body.dark {
	--startColor: black;
	--backgroundStart: hsla(0,0%,99%,1.00);
	--backgroundEnd: black;
}



@keyframes logoBackgroundAnim{
	0% {
		background-color: var(--backgroundStart);
	}
	100%{
		background-color: var(--backgroundEnd);
	}
}

@keyframes watchAnim{
	0%{
		background-color: darkgoldenrod;
	}
	50%{
		background-color: goldenrod;
	}
	100%{
		background-color: darkgoldenrod;
	}
}

@keyframes warningAnim{
	0%{
		background-color: darkred;
	}
	50%{
		background-color: red;
	}
	100%{
		background-color: darkred;
	}
}

@keyframes otherAnim{
	0%{
		background-color: grey;
	}
	50%{
		background-color: slategray;
	}
	100%{
		background-color: grey;
	}
}

@keyframes delayedFadeIn{
	0%{
		opacity: 0;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 1.0;
	}
}

/* General Animations */

@keyframes fadeOut {
	0%{
		opacity: 1.0;
		background-color: hsla(0,0%,99%,1.00);
	}
	100%{
		opacity: 0.0;
		display: none;
		pointer-events: none;
		background-color: hsla(0,0%,99%,1.00);
	}
}

@keyframes offLeft{
	0%{
		right: 0%;
	}
	100%{
		right: 300%;
	}
}

@keyframes onRight{
	0%{
		left: 300%;
	}
	100%{
		left: 0%;
	}
}

@keyframes simpleFadeOut{
	0%{
		opacity: 1.0;
	}
	100%{
		opacity: 0;
	}
}
@keyframes simpleFadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1.0;
	}
}

/* Loader by loading.io */

.lds-ellipsis {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ellipsis div {
	position: absolute;
	top: 33px;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background: #186bbf;
	animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
	left: 8px;
	animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
	left: 8px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
	left: 32px;
	animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
	left: 56px;
	animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes lds-ellipsis3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes lds-ellipsis2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(24px, 0);
	}
}