/* Animation Keyframes */

/* Logo Animations */

/*body {*/
/*	--startColor: white;*/
/*	--backgroundStart: black;*/
/*	--backgroundEnd: hsla(0,0%,99%,1.00);*/
/*}*/

/*body.dark {*/
/*	--startColor: black;*/
/*	--backgroundStart: hsla(0,0%,99%,1.00);*/
/*	--backgroundEnd: black;*/
/*}*/



@keyframes logoBackgroundAnim{
	0% {
		background: linear-gradient(var(--background-angle), var(--background-end), var(--background-start));
	}
	100%{
		background: linear-gradient(var(--background-angle), var(--background-start), var(--background-end));
	}
}

@keyframes watchAnim{
	0%{
		background-color: var(--watch-background);
	}
	50%{
		background-color: var(--watch-background-secondary);
	}
	100%{
		background-color: var(--watch-background);
	}
}

@keyframes warningAnim{
	0%{
		background-color: var(--warning-background);
	}
	50%{
		background-color: var(--warning-background-secondary);
	}
	100%{
		background-color: var(--warning-background);
	}
}

@keyframes otherAnim{
	0%{
		background-color: var(--statement-background);
	}
	50%{
		background-color: var(--statement-background-secondary);
	}
	100%{
		background-color: var(--statement-background);
	}
}

@keyframes delayedFadeIn{
	0%{
		opacity: 0;
	}
	75%{
		opacity: 0;
	}
	100%{
		opacity: 1.0;
	}
}

/* General Animations */

@keyframes fadeOut {
	0%{
		opacity: 1.0;
		background-color: hsla(0,0%,99%,1.00);
	}
	100%{
		opacity: 0.0;
		display: none;
		pointer-events: none;
		background-color: hsla(0,0%,99%,1.00);
	}
}

@keyframes offLeft{
	0%{
		right: 0%;
	}
	100%{
		right: 300%;
	}
}

@keyframes onRight{
	0%{
		left: 300%;
	}
	100%{
		left: 0%;
	}
}

@keyframes simpleFadeOut{
	0%{
		opacity: 1.0;
	}
	100%{
		opacity: 0;
	}
}
@keyframes simpleFadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1.0;
	}
}