/* User Interface Components
DONE:

NEEDS WORK:

NOTHING YET:
*/

/* Tag Styles */

/* UI Component Styles */

#welcome-window-native{
	z-index: 99;
	position: absolute;
	background-color: black;
	min-width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	color: white;
}

#welcome-button-native{
	border: none;
	background-color: dodgerblue;
	color: white;
	font-family: Secular One;
	font-size: 25px;
	border-radius: 7px;
	cursor: pointer;
}

#fade-section{
	margin-left: 20px;
	margin-right: 20px;
}


#welcome-image-native{
	max-height: 50vh;
	max-width: 100vh;
}

#radar-animation-control{
	background-color: dodgerblue;
	color: white;
	font-size: 20px;
	border-radius: 7px;
	cursor: pointer;
	border: none;
	font-family: Secular One, sans-serif;
}

#current-loc-aqi-bar{
	position: relative;
}

#loading-anim {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
}

/* Class Styles */





.location{
	background-color: blue;
	color: white;
	border-radius: 7px;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 20px;
	-webkit-box-sizing: border-box;
	-mox-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
	box-shadow: 0px 0px 7px #898989;
}

.currentloc{
	background-color: cadetblue;
}

.noclick{
	cursor: default;
}

.forecast-temp{
	box-shadow: 0px 0px 7px #898989;
	background-color:dodgerblue;
	color:white;
	display:inline-block;
	padding:20px;
	margin-right:20px;
	margin-bottom:20px;
	border-radius:7px;
}

.box{
	height: 22px;
}



.hourlySelectorLabel {
	cursor: pointer;
	margin-right: 20px;
	user-select: none;
}

.hourlySelector:checked + .hourlySelectorLabel {
	text-decoration: underline solid;
	font-weight: 700;
}

.hourlySelector {
	display: none;
}


@media screen and (orientation:portrait) {
	/* Fix issues on certain orientations */
	.forecast-temp{
		display: inline-grid;
	}

	.hourly-container{
		display: grid;
		grid-template-columns: auto auto auto;
	}

	/* Make settings less cramped on mobile */

	label{
		font-size: 18px;
	}

	select{
		font-size: 18px;
	}
	
	.box{
		height: 15px;
	}
}

#android-permission-setup{
	z-index: 99;
	position: absolute;
	background-color: hsla(0,0%,99%,1.00);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	padding: 0;
}

#android-permission-container {
	padding: 15px;
	background-color: hsla(0,0%,99%,1.00);
	text-align: center;
}

.permission-button {
	padding-left: 15px;
	padding-right: 15px;
	border: none;
	background-color: rgba(34,55,91,0.88);
	color: white;
	font-family: Secular One;
	font-size: 25px;
	border-radius: 7px;
	cursor: pointer;
}

.permission-button:disabled {
	background-color: grey;
}

/* Dark Mode Colors */
body.dark {
	background-color: #222222;
	color: white;

	#android-permission-setup {
		background-color: #222222;
	}

	#android-permission-container {
		background-color: #222222;
	}

	#welcome-window-native{
		z-index: 100;
		position: absolute;
		background-color: #222222;
		min-width: 100%;
		min-height: 100%;
		top: 0;
		left: 0;
	}



	.android-setup {
		width: calc(100vw - 30px);
	}
}
