:root {
    /* Primary App Colors */

    /* Background Gradient */
    --background-start: #222222;
    --background-end: #222222;
    --background-angle: 90deg;

    --primary-text-color: white;
    --secondary-text-color: dodgerblue;

    --accordian-border-color: white;
    --accordian-shadow-color: #898989;

    --loading-dots-color: #186bbf;

    --add-location-button: rgba(34,55,91,0.88);
    --add-location-button-text: white;

    --box-shadow-color: #898989;

    --positive-button: dodgerblue;
    --positive-button-text: white;

    /* Currently Only Used for Remove Location in Settings */
    --negative-button: #ff4d4d;
    --negative-button-text: white;

    /* Navigation Buttons */
    --nav-button-background: hsla(0,0%,15%,1.00);;
    --nav-button-selected: #111111;

    /* Editor Buttons */
    --editor-background: darkslategray;
    --editor-text-color: white;

    /* Location List Colors */
    --default-background: blue;
    --error-background: darkslategray;
    --current-location-background: cadetblue;
    --location-text-color: white;

    --no-alerts-background: dodgerblue;
    --no-alerts-text-color: white;

    --watch-background: darkgoldenrod;
    --watch-background-secondary: goldenrod;
    --watch-text-color: white;

    --warning-background: darkred;
    --warning-background-secondary: red;
    --warning-text-color: white;

    --statement-background: grey;
    --statement-background-secondary: slategray;
    --statement-text-color: white;
}